<!DOCTYPE html>

<html>
    <head>
        <title>iOffer</title>
        <link rel='stylesheet' href='/test.css' />
    </head>
    <body>
        <h1>Welcome to iOffer</h1>
        
    </body>  
</html>
