<% include header.html %>


<div class='container'>
<table class='table'>
	<thead>
		<tr>
			<th>Name</th>
			<th>Date</th>
			<th>Offer History</th>
		</tr>
	</thead>
	<tbody>
		<% for (var i = 0; i < data.length; i++) { %>
		<tr>
			<td><%= data[i].name %></td>
			<td><%= data[i].time %></td>
			<td>
				<a class='btn btn-default'
				href='/offer-history/<%= data[i]._id %>'>
				View Offer
				</a>
				<a class='btn btn-danger'
				href='/delete/<%= data[i]._id %>'>
				Delete
				</a>
			</td>
		</tr>
		<% } %>
	</tbody>
	
</table>
</div>

<% include footer.html %>
