<% include header.html %>
<style>
	img {
		height: 80px;
	}
</style>

<div id='component1' class='container'>
	
</div>

<script type='text/babel'>
	
	class Component1 extends React.Component {
		render() {
			let c = [
				{name:'Latte',    price:80},
				{name:'Mocha',    price:85},
				{name:'Espresso', price:70},
				{name:'Cappuccino', price:90},
				{name:'Ice Tea',  price:80}
			]
			let rows = [ ]
			for (let x of c) {
				rows.push(<tr><td>{x.name}</td><td>{x.price}</td></tr>)
			}
					
			return (
				<table className='table'>
					<thead>
						<tr>
							<th>Name</th>
							<th>Price</th>
						</tr>
					</thead>
					<tbody>
						{rows}
					</tbody>
				</table>
			)
		}
	}
	
	class Show extends React.Component {
		constructor() {
			super()
			this.data = [ ]
			// $.get('/api-list').success(this.process)
			fetch('/api-list')
			.then( r => r.json() )
			.then( j => this.process(j) )
		}
		render() {
			let rows = [ ]
			for (let d of this.data) {
				let link = '/detail/' + d._id
				let photo = ''
			
				if (d.photos.length == 0) {
				} else {
					photo = <img src={d.photos[0]} />
				}
				rows.push(
					(
					<tr>
						<td><a href={link}>{photo}</a></td>
						<td><a href={link}>{d.name}</a></td>
						<td><a href={link}>{d.description}</a></td>
					</tr>
					)
				)
			}
		
			return (
				<table className='table'>
					<thead>
						<tr>
							<th>Picture</th>
							<th>Post</th>
							<th>Detail</th>
						</tr>
					</thead>
					<tbody>
						{rows}
					</tbody>
				</table>
			)
		}
		process(data) {
			this.data = data
			this.setState({})
			console.table(data)
		}
	}

	ReactDOM.render(<Show />,
		document.getElementById('component1')
	)
	
</script>

<script src="https://fb.me/react-15.1.0.min.js"></script>
<script src="https://fb.me/react-dom-15.1.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>

<% include footer.html %>